.idea
atlassian-ide-plugin.xml
*.orig
.sass-cache
/node_modules
*.backup.json
contents-*.zip

/var/build/*.map

/bower_components/*

!/bower_components/requirejs
/bower_components/requirejs/*
!/bower_components/requirejs/require.js

!/bower_components/es5-shim
/bower_components/es5-shim/*
!/bower_components/es5-shim/es5-shim.js

!/bower_components/laxar_uikit/
/bower_components/laxar_uikit/*
!/bower_components/laxar_uikit/themes
/bower_components/laxar_uikit/themes/*
!/bower_components/laxar_uikit/themes/default.theme
/bower_components/laxar_uikit/themes/default.theme/*
!/bower_components/laxar_uikit/themes/default.theme/fonts
